In [51]:
import pandas as pd
import numpy as np

In [59]:
df=pd.read_html('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M',header=0)
df=df[0]

Removing the data where Borough is NA

In [53]:
df.drop(df[df.Borough=='Not assigned'].index, inplace=True)
df.index=range(len(df.index))
df.head()

  Postcode           Borough     Neighbourhood
0      M3A        North York         Parkwoods
1      M4A        North York  Victoria Village
2      M5A  Downtown Toronto      Harbourfront
3      M6A        North York  Lawrence Heights
4      M6A        North York    Lawrence Manor

To rearranging the table where Neighbourhood NA is clubbed with Borough

In [54]:
df['Neighbourhood']= np.where(df['Neighbourhood']=='Not assigned', df['Borough'],df['Neighbourhood'])
df.head()

  Postcode           Borough     Neighbourhood
0      M3A        North York         Parkwoods
1      M4A        North York  Victoria Village
2      M5A  Downtown Toronto      Harbourfront
3      M6A        North York  Lawrence Heights
4      M6A        North York    Lawrence Manor

Grouping the table with Postcode

In [57]:
group=df.groupby(['Postcode','Borough'], sort=False).agg(','.join)
df_new=group.reset_index()
df_new.head(13)

,Postcode,Borough,Neighbourhood
0,M3A,North York,Parkwoods
1,M4A,North York,Victoria Village
2,M5A,Downtown Toronto,Harbourfront
3,M6A,North York,"Lawrence Heights,Lawrence Manor"
4,M7A,Queen's Park,Queen's Park
5,M9A,Queen's Park,Queen's Park
6,M1B,Scarborough,"Rouge,Malvern"
7,M3B,North York,Don Mills North
8,M4B,East York,"Woodbine Gardens,Parkview Hill"
9,M5B,Downtown Toronto,"Ryerson,Garden District"
10,M6B,North York,Glencairn
11,M9B,Etobicoke,"Cloverdale,Islington,Martin Grove,Princess Gar..."
12,M1C,Scarborough,"Highland Creek,Rouge Hill,Port Union"

In [58]:
df.shape

(210, 3)